extends common/layout

block content

    div.container
        div.page-header.text-center
            h1
                span.fa.fa-anchor 
                span Profile Page
            a.btn.btn-default.btn-sm(href="/logout") Logout
            
        div.row
            div.col-sm-6
                div.well
                    h3
                        span.fa.fa-user  
                        span Local
                    div.row
                        div.col-md-12
                            table.table.table-bordered.table-hover
                                thead
                                    tr
                                        th ID de usuario
                                        td #{user.id_usuario}
                                    tr
                                        th Username
                                        td #{user.username}
                                    tr
                                        th Password
                                        td #{user.password}
                                    tr
                                        th Nombre
                                        td #{user.nombre}
                                    tr
                                        th Empresa
                                        td #{user.nombre_empresa}
                                    tr
                                        th Rol        
                                        td #{user.nombre_rol}