extends common/layout

block headerScripts
    link(href='/css/resourcesPage.css', rel='stylesheet')
    link(href="/plugins/css/bootstrap-datepicker.min.css", rel="stylesheet")
    //- link(href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.css" rel="stylesheet")

block content
    ul.nav.nav-tabs
        li #[a(data-toggle="tab", href="#marcasResources") Marcas]
        li #[a(data-toggle="tab", href="#empresasResources") Empresas]
        li.active #[a(data-toggle="tab", href="#polizasResources") Polizas]

    div.jumbotron.jumbotron-fluid
        //- Show message alert, if there's any in Flash-connect
        if message.length > 0
            include common/alertMessages

        div.tab-content
            div#marcasResources.tab-pane.fade
                h2.text-center Agregar marca de vehiculos
                form#marcaForm(action="/resources/add", method="post")
                    div.row
                        textarea(name="formType", style="display:none;", required, readonly="readonly") addMarca
                        div.col-md-offset-2.col-xs-12.col-md-8.extra-padding
                            label(for="marca") Marca de vehiculo:
                            div.input-group
                                input#marca.form-control(name="marca", type="text", placeholder="Ingresar una marca de vehiculos", required)
                                span.input-group-btn
                                    button.btn.btn-primary(type="submit") Agregar

                
                h2.text-center Lista de marcas
                div.row
                    div.col-md-offset-2.col-md-8
                        table.table.table-bordered
                            thead #[tr]
                                th ID
                                th Nombre marca
                            tbody 
                                each marca in marcas
                                    tr.custom-trow
                                        td #{marca.id_marca}
                                        td #{marca.nombre_marca}
                    
            
            div#empresasResources.tab-pane.fade
                h2.text-center Agregar empresas
                form#empresaForm(action="/resources/add", method="post")
                    div.row
                        textarea(name="formType", style="display:none;", required, readonly="readonly") addEmpresa
                        //- Offset column by 2 and make 8col in width
                        div.col-md-offset-2.col-md-8 
                            //- Inside this 8c element we have 12 available cols.
                            //- First label and input
                            div.col-md-5.no-right-padding
                                label(for="empresa") Nombre de empresa:
                                div.form-group
                                    input#empresa.form-control(name="empresa", type="text", placeholder="Ingresa el nombre de la empresa", required)
                            //- Second input 
                            div.col-md-5.no-right-padding
                                label(for="rfc") RFC de empresa:
                                div.form-group
                                    input#rfc.form-control(name="rfc", type="text", placeholder="Ingresa el RFC de la empresa", required)

                            //- Submit button
                            div.col-md-2
                                label.hidden-sm.hidden-xs(style="visibility: hidden;") &nbsp;
                                div.form-group
                                        button.btn.btn-primary(type="submit") Agregar

                h2.text-center Lista de empresas
                div.row
                    div.col-md-offset-2.col-md-8
                        table.table.table-bordered
                            thead #[tr]
                                th ID
                                th Nombre de empresa
                                th RFC
                            tbody
                                each empresa in empresas
                                    tr.custom-trow
                                        td #{empresa.id_empresa}
                                        td #{empresa.nombre_empresa}
                                        td #{empresa.rfc}

            div#polizasResources.tab-pane.fade.in.active
                h2.text-center Agregar polizas
                form#polizaForm(action="/resources/add", method="post")
                    textarea(name="formType", style="display:none;", required, readonly="readonly") addPoliza
                    include forms/polizaForm
                                    
                    div.form-group.row.text-center
                        button.btn.btn-primary(type="submit") Agregar poliza

                h2.text-center Lista de polizas
                div.row
                    div.col-md-12
                        ul.nav.nav-pills.nav-justified
                            li.active #[a(data-toggle="pill", href="#activePolizas") Polizas activas]
                            li #[a(data-toggle="pill", href="#inactivePolizas") Todas las polizas]
                    div.tab-content
                        div#activePolizas.tab-pane.fade.in.active
                            div.col-md-12.col-xs-12
                                table#polizasTable.table.table-bordered
                                    thead
                                        tr.vertical-aligned-trow
                                            th No. de poliza
                                            th Fecha de expedicion
                                            th Fecha de vencimiento
                                            th Aseguradora
                                            th Vehiculo
                                            th.actions-container Acciones
                                    tbody
                                        each poliza in polizas
                                            tr.custom-trow.vertical-aligned-trow
                                                td #{poliza.num_poliza}
                                                td #{poliza.fecha_expedicion}
                                                td #{poliza.fecha_vencimiento}
                                                td #{poliza.aseguradora}
                                                td #[a(href="/vehicles/" + poliza.id_carro) #{poliza.modelo} #{poliza.color} #{poliza.year} (#{poliza.num_placa})]
                                                td.actions-container
                                                    div.btn-group-vertical.btn-group-xs(role="group")
                                                        button.btn.btn-warning #[span.glyphicon.glyphicon-edit]
                                                        button.btn.btn-danger #[span.glyphicon.glyphicon-remove-sign]  

                        //- List all the polizas that have already expired and are no longer active
                        div#inactivePolizas.tab-pane.fade
                            div.col-md-12.col-xs-12
                                table.table.table-bordered
                                    thead
                                        tr.vertical-aligned-trow
                                            th No. de poliza
                                            th Fecha de expedicion
                                            th Fecha de vencimiento
                                            th Aseguradora
                                            th Vehiculo
                                            th.actions-container
                                    tbody
                                        each poliza in polizas
                                            tr.custom-trow.vertical-aligned-trow
                                                td #{poliza.num_poliza}
                                                td #{poliza.fecha_expedicion}
                                                td #{poliza.fecha_vencimiento}
                                                td #{poliza.aseguradora}
                                                td #[a(href="/vehicles/" + poliza.id_carro) #{poliza.modelo} #{poliza.color} #{poliza.year} (#{poliza.num_placa})]
                                                td.actions-container
                                                    div.btn-group-vertical.btn-group-xs(role="group")
                                                        button.btn.btn-warning #[span.glyphicon.glyphicon-edit]
                                                        button.btn.btn-danger #[span.glyphicon.glyphicon-trash] 
block additionalScripts
    script(src="/js/datePickerFormat.js")
    script(src="/plugins/js/moment-with-locales.min.js")
    script(src="/plugins/js/bootstrap-datepicker.min.js")
    script(src="/plugins/js/bootstrap-datepicker.es.min.js")
    //- script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.js" type="text/javascript")
    //- script.
    //-     $('#polizasTable').tabulator({
    //-         fitColumns: true,
    //-             columns:[
    //-                 {title:"No. de poliza", sorter:"string", sortable:true},
    //-                 {title:"Fecha de expedicion", width:150, sortable: true},
    //-                 {title:"Fecha de vencimiento", width:150, sortable:true},
    //-                 {title:"Aseguradora", sorter:"string", sortable: true},
    //-                 {title:"Vehiculo", sorter:"string", sortable:true},
    //-                 {title:"Acciones", width:100, align: 'center'},
    //-             ],
    //-     })
